body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    overflow: hidden;
}


#root {
    height: 100vh;
}

.Main {
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 { margin: 0px;}

.MuiSvgIcon-root {
    cursor: pointer;
}